/* CSS for index page*/

body{
    background-color: turquoise;
    font-family: Tahoma;
}

h1{
    background-color: blueviolet;
    text-align: center;
    border: 2px solid white;
     width: 270px;
    margin: ; 
    padding: 0 7px;
}   

h2{
    text-align: center;
    border: 2px solid white;
    width: 200px;
    margin: 20px auto;
    padding: 0 7px;
    background-color: pink;
}